# Dependencies
node_modules/
.pnpm-store/

# Local Environment Variables
.env
.env.local
.env.*.local

# Build Outputs
dist/
build/
.aws-sam/
.cdk.staging/
cdk.out/

# IDE & System Files
.DS_Store
.vscode/
.idea/
*.log